[submodule "config"]
	path = config
	url = git@gitlab.com:albertovaldez5/org-config.git
[submodule "resources/theme"]
	path = resources/theme
	url = git@gitlab.com:albertovaldez5/org-theme.git
[submodule "whisper"]
	path = whisper
	url = git@github.com:AlbertoV5/whisper.git
[submodule "etl"]
	path = etl
	url = git@github.com:AlbertoV5/stt-craig-etl.git
[submodule "viz"]
	path = viz
	url = git@github.com:AlbertoV5/stt-craig-viz.git
[submodule "spa"]
	path = spa
	url = git@github.com:AlbertoV5/stt-craig-spa.git
